* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
    color: #334155;
    line-height: 1.6;
}
header {
    padding: 40px 0 40px 0;
    max-width: 1200px;
    margin: 0 auto;

    display: flex;
    justify-content: space-around;
    align-items: center;
}
.logo{
    font-weight: 900;
    letter-spacing: 1.5px;
    color: #1E293B;
    font-size: 24px;
}
.logo span{
    font-weight: 400;
    color: #3B82F6; 
}
nav a{
    text-decoration: none;
    color: #1E293B;
    margin-right: 20px;
    font-weight: 500;
    transition: color 0.3s;

}
nav a:hover {
    color: #3B82F6;
}
main{
    padding: 40px 0 40px 0;
    background-color: #F0F9FF;
    text-align: center;
}
.main-div{
    max-width: 1200px;
    margin: 0 auto;
}
footer{
    padding: 40px 0 40px 0;
    max-width: 1200px;
    margin: 0 auto;
    border-top: 1px solid #E2E8F0;
    color: grey;
}
footer a{
    text-decoration: underline;
}
section{
    padding: 40px 0 40px 0;
    max-width: 1200px;
    margin: 0 auto;
}
.price-list{
    font-size: 24px;
    color: #3B82F6;
}
h1{
    font-size: 42px;
    margin-bottom: 20px;
}
h2{
    font-size: 32px;
    text-align: center;
    margin-bottom: 40px;
}
.services{
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
    list-style-type: none;
}
.service{
    border: 1px solid #E2E8F0;
    border-radius: 10px;
    padding: 25px 25px 25px 25px;
    flex: 1 1 300px;
    background: white;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1);
}
.about {
    margin-top: 40px;
    margin-bottom: 40px;
}
.about p{
    margin-bottom: 20px;
}
.about h2{
    margin-bottom: 20px;
}
.benefits{
    list-style-type: none;
}
.benefits li::before{
    content: "\2713";
    margin-right: 7px;
}
.about-content{
    display: flex;
    align-items: center;
    gap: 40px;
}
.about-content img{
    width: 400px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1); 
}
.about-text{
    flex: 1;
}
.calling{
    padding: 60px 20px;
    background-color: #F8FAFC;
    color: #1E293B;
    text-align: center;
}
.button-tel {
    display: inline-block;
    background-color: #FFFFFF;
    color: #3B82F6;
    text-decoration: none;
    font-size: 28px;
    font-weight: 500;
    padding: 20px 45px;
    border: 2px solid #3B82F6;
    border-radius: 8px;
    transition: all 0.3s ease;
    box-shadow: 0 4px 6px -1px #3B82F633;
}
.button-tel:hover {
    background-color: #3B82F6;
    color: #FFFFFF;
}
.reviews{
    background-color: #F8FAFC;
    margin-top: 40px;
}
.reviews-grid{
    display: flex;
    gap: 30px;
    justify-content: center;
}
.review-card{
    background-color: white;
    border: 2px solid #E2E8F0;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.05);
}
.review-text{
    color: #475569;
    font-weight: 700;
}
.review-author{
    color:#1E293B;
    font-weight: 700;
}
@media(max-width: 768px){
    .services, .reviews-grid, .about-content {flex-direction: column;}
    header,section,footer{width:100%;padding: 0 20px;}
    header{gap:20px;}
    nav a{margin-right: 10px;}
    .logo{font-size: 20px;}
    h1{font-size: 30px;line-height: 1.2;}
    h2{font-size:22px;line-height: 1.2;padding: 20px 0 0 0;}
    h3{font-size: 18px;line-height: 1.2;}
    p{font-size: 16px;line-height: 1.2;}
    .main-div{padding: 30px 15px;}
    .service{flex: none;}
    .about-content img{max-width: 350px;}
    .about-content{align-items: center; text-align: center; width: 100%;}
    .reviews-grid{padding-bottom: 20px;}
    footer{padding: 20px 20px;}
}